databases:
  - name: blog
    databaseName: blog
    user: blog
    ipAllowList: []

services:
  - type: web
    name: blog
    runtime: ruby
    env: ruby
    buildCommand: "./bin/render-build.sh"
    startCommand: bundle exec rails s
#    startCommand: "bundle exec puma -C config/puma.rb"
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: blog
          property: connectionString
      - key: RAILS_MASTER_KEY
        sync: false
  - type: redis
    name: redis
    ipAllowList: []
    plan: free
    maxmemoryPolicy: noeviction
