#posts_wrapper {
  padding: 3em 0; }
  #posts_wrapper .post {
    text-align: center; }
    #posts_wrapper .post .date {
      font-size: .9em;
      margin: 0; }
    #posts_wrapper .post h2 {
      margin: 0;
      text-align: center;
      font-size: 2em;
      text-transform: uppercase; }
      #posts_wrapper .post h2 a {
        text-decoration: none;
        color: #424652; }
        #posts_wrapper .post h2 a:hover {
          color: #8bc6db; }
    #posts_wrapper .post hr {
      margin: 3em auto; }

#post_show_content header {
  text-align: center;
  font-size: .9em;
  color: #9a9da4;
  margin: 0; }

#post_show_content h1 {
  margin: 0; }

#post_show_content hr {
  margin: 3em auto; }

#share_post {
  text-align: center; }
  #share_post p {
    padding: 0 0 1em 0;
    margin: 0;
    text-transform: uppercase;
    font-weight: 700;
    color: #424652;
    font-size: .8em; }
  #share_post i {
    color: #424652;
    padding: 1em 1.5em; }
    #share_post i:hover {
      color: #8bc6db;
      cursor: pointer; }

.pagination:before,
.pagination:after {
  content: " ";
  display: table; }

.pagination:after {
  clear: both; }

.pagination {
  text-align: center;
  margin: 0 0 3em 0; }
  .pagination a, .pagination .previous_page, .pagination .current, .pagination .next_page {
    padding: .75em 1em;
    margin: 0 .5em;
    border-radius: .15em;
    line-height: 20;
    text-decoration: none;
    background: #FFFFFF;
    color: #424652;
    font-weight: 700;
    font-size: .7em;
    font-style: normal; }
    .pagination a:hover, .pagination .previous_page:hover, .pagination .current:hover, .pagination .next_page:hover {
      background: #8bc6db;
      color: #FFFFFF; }
  .pagination .current {
    background: #8bc6db;
    color: #FFFFFF; }
  .pagination .disable {
    color: #C0C0C0; }
    .pagination .disable:hover {
      color: #C0C0C0;
      background: #FFFFFF; }
